!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "\320\236\320\261\321\211\320\265\321\201\321\202\320\262\320\265\320\275\320\275\320\276\320\265 \320\274\320\275\320\265\320\275\320\270\320\265, \320\270\321\201\321\202\320\270\320\275\320\260, \320\277\321\200\320\260\320\262 \320\273\320\270 \321\217, \321\201\320\277\320\276\321\200\321\213, \320\274\320\275\320\265\320\275\320\270\321\217, \320\264\320\265\320\261\320\260\321\202\321\213, \320\274\320\275\320\265\320\275\320\270\320\265 \320\275\320\260\321\200\320\276\320\264\320\260, \320\272\320\276\320\273\320\273\320\265\320\272\321\202\320\270\320\262\320\275\321\213\320\265 \321\201\320\277\320\276\321\200\321\213", :name => "keywords"}/
    %meta{:content => "\320\236\320\261\321\211\320\265\321\201\321\202\320\262\320\265\320\275\320\275\320\276\320\265 \320\274\320\275\320\265\320\275\320\270\320\265, \320\270\321\201\321\202\320\270\320\275\320\260, \320\277\321\200\320\260\320\262 \320\273\320\270 \321\217, \321\201\320\277\320\276\321\200\321\213, \320\274\320\275\320\265\320\275\320\270\321\217, \320\264\320\265\320\261\320\260\321\202\321\213, \320\274\320\275\320\265\320\275\320\270\320\265 \320\275\320\260\321\200\320\276\320\264\320\260, \320\272\320\276\320\273\320\273\320\265\320\272\321\202\320\270\320\262\320\275\321\213\320\265 \321\201\320\277\320\276\321\200\321\213", :name => "description"}/
    %link{:href => "stylesheets/main.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    %title Общественное мнение, истина, прав ли я, споры, мнения, дебаты, мнение народа, коллективные споры
  %body
    / Yandex.Metrika
    %script{:src => "//mc.yandex.ru/metrika/watch.js", :type => "text/javascript"}
    :javascript
      try { var yaCounter791682 = new Ya.Metrika(791682); } catch(e){}
      %noscript
      %div{:style => "position:absolute"}
        %img{:alt => "", :src => "//mc.yandex.ru/watch/791682"}/
    / /Yandex.Metrika
    %header
    .logo
      %h1
        %a{:href => "http://naspr.ru/"}
          %img{:alt => "\320\241\320\277\320\276\321\200\321\213", :src => "images/naspr.jpg"}/
    .header
      %h1 Общественное мнение, прав ли я
    .search
      %form{:action => "http://naspr.ru/debates/search", :method => "get"}
        %input#text.input_search{:gtbfieldid => "171", :name => "text", :type => "text"}/
        %input.search_image{:alt => "\320\237\320\276\320\270\321\201\320\272", :src => "images/search_button.png", :type => "image"}/
    .enter
      %a{:href => "http://naspr.ru/login"} Войти
    .registration
      %a{:href => "http://naspr.ru/users/new"} Регистрация
    .content
      %table.main_table
        %tbody
          %tr
            %td.valign
              %section
              %h1.header_h1 Последние споры
              %table.list_lastdebate
                %tbody
                  %tr
                    %td{:colspan => "2"}
                      %a{:href => "http://naspr.ru/debates/11"} МАРИХУАНА БОЖЬЯ ТРАВКА
                      (
                      %span.trueansver> 1072
                      |
                      %span.falseansver> 5202
                      )
                  %tr
                    %td{:colspan => "2"}
                      %a{:href => "http://naspr.ru/debates/10"} Я ЗА МАРИХУАНУ
                      (
                      %span.trueansver> 32
                      |
                      %span.falseansver> 27
                      )
                  %tr
                    %td{:colspan => "2"}
                      %a{:href => "http://naspr.ru/debates/9"} Марихуана зло
                      (
                      %span.trueansver> 32
                      |
                      %span.falseansver> 31
                      )
                  %tr
                    %td{:colspan => "2"}
                      %a{:href => "http://naspr.ru/debates/8"} моя девушка не отвечает на звонки
                      (
                      %span.trueansver> 857
                      |
                      %span.falseansver> 847
                      )
                  %tr
                    %td{:colspan => "2"}
                      %a{:href => "http://naspr.ru/debates/7"} Корупция в стране
                      (
                      %span.trueansver> 3319
                      |
                      %span.falseansver> 3292
                      )
                  %tr
                    %td{:colspan => "2"}
                      %a{:href => "http://naspr.ru/debates/6"} Я думаю что моя девушка зло.
                      (
                      %span.trueansver> 728
                      |
                      %span.falseansver> 706
                      )
                  %tr
                    %td{:colspan => "2"}
                      %a{:href => "http://naspr.ru/debates/5"} Корупция в стране достигла не мыслемых размеров.
                      (
                      %span.trueansver> 1020
                      |
                      %span.falseansver> 1028
                      )
                  %tr
                    %td{:colspan => "2"}
                      %a{:href => "http://naspr.ru/debates/4"} Я за linux
                      (
                      %span.trueansver> 23
                      |
                      %span.falseansver> 17
                      )
                  %tr
                    %td{:colspan => "2"}
                      %a{:href => "http://naspr.ru/debates/3"} amd vs intel
                      (
                      %span.trueansver> 18
                      |
                      %span.falseansver> 16
                      )
                  %tr
                    %td{:colspan => "2"}
                      %a{:href => "http://naspr.ru/debates/2"} Я за марихуану!
                      (
                      %span.trueansver> 3518
                      |
                      %span.falseansver> 3475
                      )
                  %tr
                    %td{:colspan => "2"}
                      %a{:href => "http://naspr.ru/debates/1"} Кто гаризматичнее Путин или Медведев?
                      (
                      %span.trueansver> 2573
                      |
                      %span.falseansver> 2593
                      )
                  %tr
                    %td.hightred
                      %a{:href => "http://naspr.ru/debates/new"} Создать своё мнение
                    %td.hightblue
                      %a{:href => "http://naspr.ru/debates"} Все мнения
            %td.valign
              %section
              %h1.header_h1 Последние спор
              %h2
                %a.color_h2_a{:href => "http://naspr.ru/debates/11"} МАРИХУАНА БОЖЬЯ ТРАВКА
              %div
                .avatar
                  %img{:alt => "avatar", :src => "images/avatar2.jpg"}/
                .text
                  МАРИХУАНА ЛЕКАРСТВО ОТ БОЛЕЗНЕЙ ЗЛО
                  ЭТО ПРИСВОЕНИЯ ЧЮЖОГО ИМУЩЕСТВА(РАЗВАРОВЫВАНИЕ РАСКУЛАЧЕВАНИЕ ИЗЪЯТИЯ И
                  УНИЧТОЖЕНИЕ ИМУЩЕСТВА ИЛИ ВЕЩЕСТВА)
              .clear
              %div
                .ansvertruenum
                  %span.za За:
                  %span.numvoited 1072
                .ansverfalsenum
                  %span.protiv Против:
                  %span.numvoited 5202
              .clear
              .golosovat2
                .dot_link
                  Голосовать
              .voited_form
                %form#new_comment.new_comment{:action => "http://naspr.ru/debates/11/comments", :method => "post"}
                  %div{:style => "margin: 0pt; padding: 0pt; display: inline;"}
                    %input{:name => "authenticity_token", :type => "hidden", :value => "DRRQ+6olwgo7gFOICdZr4BeWFjBRt30g4/CPUYiY34U="}/
                  %span.zasmall Я за
                  %input#comment_voted_0{:name => "comment[voted]", :type => "radio", :value => "0"}/
                  %span.protivsmall Я против
                  %input#comment_voted_1{:name => "comment[voted]", :type => "radio", :value => "1"}/
                  %br/
                  потому, что:
                  %textarea#comment_message.message{:cols => "40", :name => "comment[message]", :rows => "10"}
                  %input#comment_debate_id{:name => "comment[debate_id]", :type => "hidden", :value => "11"}/
                  %br/
                  %input{:name => "commit", :type => "submit", :value => "\320\236\321\202\320\264\320\260\321\202\321\214 \320\263\320\276\320\273\320\276\321\201"}/
              .ansver
                .avataranver
                  %div
                    %img{:alt => "asdasd", :src => "images/avatar2.jpg"}/
                  .rezansver
                    За
                .text
                  %a{:href => "http://www.visitknoxohio.org/cvb/index.php?article=lodging"} phentermine us online consultation
                  ,  afq ,
                  %a{:href => "http://visitknoxohio.org/cvb/index.php?article=culturallife"} cialis vs other ed products
                  ,  =-O ,
                  %a{:href => "http://www.visitknoxohio.org/"} buy xanax overnght
                  ,  =-O ,
                  %a{:href => "http://www.knowquickbooks.com/DVD_lead_collection/quickbooks_training/index.html?source=UAC_free_resource_page&amp;campaign=QuickBooks+Interest"} phentermine side effects pregnancy
                  ,  mvjrq ,
                  %a{:href => "http://www.olliebown.com/svn/beads/Trunk/Beads/src/beads_main/net/beadsproject/beads/ugens/OscillatorBank.java"} buy soma cheap buy soma
                  ,  3442 ,
                  %a{:href => "http://www.skatebarn2.com/featured.php?1-1=572"} adipex and india
                  ,  349 ,
                  %a{:href => "http://www.visitknoxohio.org/%7Evisitkno/index.php?article=lodging"} 10mg vs 20mg cialis
                  ,  kmoe ,
                  %a{:href => "http://www.roverrescue.com/page/med-4080/"} does alka seltzer enhance viagra
                  ,  139 ,
                  %a{:href => "http://www.roverrescue.com/page/med-1365/"} tramadol vitamin d
                  ,  2259 ,
              .clear
              .ansver
                .avataranver
                  %div
                    %img{:alt => "asdasd", :src => "images/avatar2.jpg"}/
                  .rezansverfalse
                    Против
                .text
                  %a{:href => "http://www.niftynurse.com/index.php?cPath=23_49"} phentermine and luvox
                  ,  twyfo ,
                  %a{:href => "http://www.niftynurse.com/index.php?cPath=23_26"} cialis viagra and levitra
                  ,  73375 ,
                  %a{:href => "http://www.roverrescue.com/page/med-4094/"} buy cialis 32
                  ,  matoaz ,
                  %a{:href => "http://www.skatebarn2.com/private-lessons.html"} soma pill info
                  ,  ytgcqj ,
                  %a{:href => "http://www.olliebown.com/svn/beads/Trunk/Beads/src/beads_examples/net/beadsproject/beads/events/UsingTriggers.java"} adipex safety
                  ,  awcmlz ,
              .clear
              .ansver
                .avataranver
                  %div
                    %img{:alt => "asdasd", :src => "images/avatar2.jpg"}/
                  .rezansver
                    За
                .text
                  %a{:href => "http://www.shootersvault.net/winchester-compact-pistol-cleaning-piece-p-21777.html"} phentermine 37.5mg purchase without a script
                  ,  689 ,
                  %a{:href => "http://www.shootersvault.net/"} diet clinics tucson phentermine
                  ,  aazgs ,
                  %a{:href => "http://www.olliebown.com/main_blog/?page_id=395"} valium alcohol
                  ,  =]] ,
                  %a{:href => "http://www.hypersciences.org/ccca11/"} taking cialis for fun
                  ,  61935 ,
                  %a{:href => "http://www.roverrescue.com/page/med-2623/"} mai lorder xanax
                  ,  mbwstf ,
              .clear
              .ansver
                .avataranver
                  %div
                    %img{:alt => "asdasd", :src => "images/avatar2.jpg"}/
                  .rezansverfalse
                    Против
                .text
                  vbewri
                  %a{:href => "http://kovka-v-moskve.ru/prodazha-zaborov.html"} ðàñ÷åò çàáîðîâ
                  zna
                  %a{:href => "http://kovka-v-moskve.ru/stroitelstvo-zabora-iz-proflista.html"} ñòðîèòåëüñòâî çàáîðà èç ïðîôëèñòà
                  dowdyb
                  %a{:href => "http://kovka-v-moskve.ru/kovanye-kletki.html"} êîâàíûå êëåòêè
                  282
                  %a{:href => "http://kovka-v-moskve.ru/masterskaja-kovki.html"} êîâêà ìåòàëà
                  8)))
                  %a{:href => "http://kovka-v-moskve.ru/vorota-dlja-doma.html"} âîðîòà ìåòàëëè÷åñêèå öåíà
                  0820
                  %a{:href => "http://kovka-v-moskve.ru/zabory-metallicheskie.html"} çàáîðû ìåòàëëè÷åñêèå
                  8903
                  %a{:href => "http://kovka-v-moskve.ru/proflist-dlja-zabora-kupit.html"} ñòîèìîñòü ìåòàëëè÷åñêîãî çàáîðà
                  epxzbx
                  %a{:href => "http://kovka-v-moskve.ru/kovka-sadovaja.html"} õóäîæåñòâåííàÿ êîâêà ìåòàëà
                  88108
                  %a{:href => "http://kovka-v-moskve.ru/kuznica-kovka.html"} èçäåëèÿ èç êîâêè
                  1035
                  %a{:href => "http://kovka-v-moskve.ru/kovka-kacheli.html"} êîâêà ïîä çàêàç
                  goz
                  %a{:href => "http://kovka-v-moskve.ru/zheleznye-kalitki.html"} äà÷íûå êàëèòêè
                  sjbbkb
                  %a{:href => "http://kovka-v-moskve.ru/studija-kovki.html"} ëþñòðû êîâêà
                  hwk
                  %a{:href => "http://kovka-v-moskve.ru/metallicheskie-dveri-s-kovkoj.html"} ìåòàëëè÷åñêèå äâåðè ñ êîâêîé
                  sjxcnz
                  %a{:href => "http://kovka-v-moskve.ru/krasivaja-kovka.html"} êîâêà âîðîòà êàëèòêè
                  5432
                  %a{:href => "http://kovka-v-moskve.ru/sajt-kovka.html"} ïðîèçâîäñòâî õîëîäíîé êîâêè
                  \&gt;:-D
                  %a{:href => "http://kovka-v-moskve.ru/smeta-na-lestnicu.html"} èçãîòîâëåíèå è ìîíòàæ ëåñòíèö
                  gkfxtu
                  %a{:href => "http://kovka-v-moskve.ru/kovanye-cvetochnicy.html"} êîâàíûå ýëåìåíòû ïðîäàæà
                  awn
                  %a{:href => "http://kovka-v-moskve.ru/ornamenty-kovki.html"} êîâêà îïòîì
                  leqnto
                  %a{:href => "http://kovka-v-moskve.ru/kovka-kon.html"} êîíü êîâêà
                  8402
              .clear
              .ansver
                .avataranver
                  %div
                    %img{:alt => "asdasd", :src => "images/avatar2.jpg"}/
                  .rezansverfalse
                    Против
                .text
                  fhwqef
                  %a{:href => "http://kovka-v-moskve.ru/kovka-ruchnaja-rabota.html"} êîâêà ðó÷íàÿ ðàáîòà
                  rogvnm
                  %a{:href => "http://kovka-v-moskve.ru/kovanye-kletki.html"} êîâàíûå êðåñëà êà÷àëêè
                  \:O
                  %a{:href => "http://kovka-v-moskve.ru/proizvodstvo-ograzhdenij.html"} ïðîèçâîäñòâî îãðàæäåíèé
                  85493
                  %a{:href => "http://kovka-v-moskve.ru/zabory-vorota-moskva.html"} âîðîòà êàðòèíêè
                  8-)))
                  %a{:href => "http://kovka-v-moskve.ru/reshetki-stoimost.html"} èçãîòîâëåíèå ðåøåòîê íà îêíà
                  \=))
                  %a{:href => "http://kovka-v-moskve.ru/kovka-podkova.html"} ïîäêîâà êîâàíàÿ
                  mbj
                  %a{:href => "http://kovka-v-moskve.ru/dorogie-vorota.html"} âîðîòà ãàðàæíûå ìåòàëëè÷åñêèå ðàñïàøíûå
                  chuz
                  %a{:href => "http://kovka-v-moskve.ru/lestnicy-dlja-doma.html"} èçãîòîâëåíèå ëåñòíèö
                  87059
                  %a{:href => "http://kovka-v-moskve.ru/smeta-na-lestnicu.html"} èçãîòîâëåíèå è ìîíòàæ ëåñòíèö
                  \%-((
                  %a{:href => "http://kovka-v-moskve.ru/kovka-hudozhestvennaja-kalitki.html"} êîâêà õóäîæåñòâåííàÿ êàëèòêè
                  170675
                  %a{:href => "http://kovka-v-moskve.ru/francuzskij-balkon.html"} ìåòàëëè÷åñêèå îãðàæäåíèÿ áàëêîíîâ
                  ccth
                  %a{:href => "http://kovka-v-moskve.ru/perila-lestnicy-kovka.html"} õóäîæåñòâåííàÿ êîâêà êàìèíû
                  259
                  %a{:href => "http://kovka-v-moskve.ru/kovka-dospehov.html"} êîâêà äîñïåõîâ
                  587
                  %a{:href => "http://kovka-v-moskve.ru/obuvnica-kovanaja.html"} øòàìïîâàííûå êîâàíûå ýëåìåíòû
                  5895
                  %a{:href => "http://kovka-v-moskve.ru/ograzhdenie-krylca.html"} îãðàæäåíèå èç ïðîôëèñòà
                  7227
                  %a{:href => "http://kovka-v-moskve.ru/ornamenty-kovki.html"} äåðåâî è êîâêà
                  3042
                  %a{:href => "http://kovka-v-moskve.ru/lestnicy-dlja-doma-foto.html"} ïðîåêòèðîâàíèå ëåñòíèö
                  463670
                  %a{:href => "http://kovka-v-moskve.ru/metallicheskie-vorota-i-kalitki.html"} êàëèòêà â ñàä
                  edqvzn
              .clear
              .ansver
                .avataranver
                  %div
                    %img{:alt => "asdasd", :src => "images/avatar2.jpg"}/
                  .rezansver
                    За
                .text
                  %a{:href => "http://www.alterform.com/artwork/wolverine"} valium controversy
                  ,  :-) ,
                  %a{:href => "http://www.knowquickbooks.com/catalog/privacy.php"} 3 generic soma
                  ,  qdcnr ,
                  %a{:href => "http://www.knowquickbooks.com/catalog/product_info.php?products_id=125"} valium dictionary
                  ,  %-PPP ,
                  %a{:href => "http://www.panicrecords.net/estore/index.php?main_page=product_info&amp;products_id=274"} legal xanax witout prescription
                  ,  &gt;:PPP ,
              .clear
    %footer
    .footer_menu
      %a{:href => "http://naspr.ru/page/advertising"} Реклама
      %a{:href => "http://naspr.ru/contacts"} Контакты
    .layvinternet
      / LiveInternet counter
      :javascript
              %a{:href => "http://www.liveinternet.ru/click", :target => "_blank"}
        %img{:alt => "", :border => "0", :height => "31", :src => "images/hit.gif", :title => "LiveInternet: number of pageviews for 24 hours, of visitors for 24 hours and for today is shown", :width => "88"}/
      / /LiveInternet
    .clear
