!!!
/ saved from url=(0031)http://127.0.0.1:3000/debates/1
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "\320\236\320\261\321\211\320\265\321\201\321\202\320\262\320\265\320\275\320\275\320\276\320\265 \320\274\320\275\320\265\320\275\320\270\320\265, \320\270\321\201\321\202\320\270\320\275\320\260, \320\277\321\200\320\260\320\262 \320\273\320\270 \321\217, \321\201\320\277\320\276\321\200\321\213, \320\274\320\275\320\265\320\275\320\270\321\217, \320\264\320\265\320\261\320\260\321\202\321\213, \320\274\320\275\320\265\320\275\320\270\320\265 \320\275\320\260\321\200\320\276\320\264\320\260, \320\272\320\276\320\273\320\273\320\265\320\272\321\202\320\270\320\262\320\275\321\213\320\265 \321\201\320\277\320\276\321\200\321\213", :name => "keywords"}/
    %meta{:content => "\320\236\320\261\321\211\320\265\321\201\321\202\320\262\320\265\320\275\320\275\320\276\320\265 \320\274\320\275\320\265\320\275\320\270\320\265, \320\270\321\201\321\202\320\270\320\275\320\260, \320\277\321\200\320\260\320\262 \320\273\320\270 \321\217, \321\201\320\277\320\276\321\200\321\213, \320\274\320\275\320\265\320\275\320\270\321\217, \320\264\320\265\320\261\320\260\321\202\321\213, \320\274\320\275\320\265\320\275\320\270\320\265 \320\275\320\260\321\200\320\276\320\264\320\260, \320\272\320\276\320\273\320\273\320\265\320\272\321\202\320\270\320\262\320\275\321\213\320\265 \321\201\320\277\320\276\321\200\321\213", :name => "description"}/
    %link{:href => "./show_post_files/main.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    %title asdasdasdas
  %body
    / Yandex.Metrika
    %script{:src => "./show_post_files/watch.js", :type => "text/javascript"}
    :javascript
      try { var yaCounter791682 = new Ya.Metrika(791682); } catch(e){}
    %noscript &lt;div style="position:absolute"&gt;&lt;img src="//mc.yandex.ru/watch/791682"  alt="" /&gt;&lt;/div&gt;
    / /Yandex.Metrika
    %script{:src => "./show_post_files/jquery.js", :type => "text/javascript"}
    %script{:src => "./show_post_files/slide_void.js", :type => "text/javascript"}
    %header
    .logo
      %h1
        %a{:href => "http://127.0.0.1:3000/"}
          %img{:alt => "\320\241\320\277\320\276\321\200\321\213", :src => "./show_post_files/naspr.jpg"}/
    .header
      %h1 Общественное мнение, прав ли я
    .search
      %form{:action => "http://127.0.0.1:3000/debates/search", :method => "get"}
        %input#text.input_search{:name => "text", :type => "text"}/
        %input.search_image{:alt => "\320\237\320\276\320\270\321\201\320\272", :src => "./show_post_files/search_button.png", :type => "image"}/
    .enter
      %a{:href => "http://127.0.0.1:3000/login"} Войти
    .registration
      %a{:href => "http://127.0.0.1:3000/users/new"} Регистрация
    .content
      %section
      %h1.header_h1 Спор/мнение
      .list_debates
        %h2.header_for_debate_not_link asdasdasdas
        .avatar
          %img{:alt => "avatar", :src => "./show_post_files/avatar2.jpg"}/
        asdasdasdasd
        .clear
      .rezansverlist
        .golosovat2
          %a{:href => "http://127.0.0.1:3000/debates/1/comments/new"} Голосовать
        .clear
      .rezansvershow
        .zaleft
          %span.colorza За:
          %span
            \#
            %comment:0x7f3011af8dc0
              \#
              %comment:0x7f3011af8d20
                \#
                %comment:0x7f3011af8c80
                  \#
                  %comment:0x7f3011af8be0
                    \#
                    %comment:0x7f3011af8b40
        .protivright
          %span.colorprotiv Против:
          %span
            \#
            %comment:0x7f3011af8dc0
              \#
              %comment:0x7f3011af8d20
                \#
                %comment:0x7f3011af8c80
                  \#
                  %comment:0x7f3011af8be0
                    \#
                    %comment:0x7f3011af8b40
      %table.tableforanvers
        %tbody
          %tr
            %td.left_block
              .anvertruediv
                .avatar2
                  %img{:alt => "avatar", :src => "./show_post_files/avatar2.jpg"}/
                asdfasdfasdfasdf
                .clear
              .anvertruediv
                .avatar2
                  %img{:alt => "avatar", :src => "./show_post_files/avatar2.jpg"}/
                asdfasdfasdf
                .clear
            %td.right_block
              .anverfalsediv
                .avatar2
                  %img{:alt => "avatar", :src => "./show_post_files/avatar2.jpg"}/
                aasdfasd
                .clear
              .anverfalsediv
                .avatar2
                  %img{:alt => "avatar", :src => "./show_post_files/avatar2.jpg"}/
                asdfasdfasdfasdf
                .clear
              .anverfalsediv
                .avatar2
                  %img{:alt => "avatar", :src => "./show_post_files/avatar2.jpg"}/
                asdfasdfasfasdf
                .clear
    %footer
    .footer_menu
      %a{:href => "http://127.0.0.1:3000/page/advertising"} Реклама
      %a{:href => "http://127.0.0.1:3000/contacts"} Контакты
    .layvinternet
      / LiveInternet counter
      :javascript
              %a{:href => "http://www.liveinternet.ru/click", :target => "_blank"}
        %img{:alt => "", :border => "0", :height => "31", :src => "./show_post_files/hit", :title => "LiveInternet: number of pageviews for 24 hours, of visitors for 24 hours and for today is shown", :width => "88"}/
      / /LiveInternet
    .clear
