%p
  Доброе время суток #{@resource.email}
%p
  Кто то запросил ссылку на смену пароля, и вы можете сменить пароль пройдя по ссылке ниже
%p
  = link_to 'Сменить мой пароль', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
%p
  Если вы это не запрашивали, пожалуйста проигнорируйте это письмо.

