%p
  Доброе время суток

%p
  Кто то запросил ссылку на смену вашего пароля на сервисе www.naspr.ru, если это сделали вы, перейдите те по ссылке ниже.

%p
  = link_to 'Сменить пароль', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)

%p
  Если вы не запрашивали смену пароля, пожалуйста проигнорируйте это письмо
